
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



body{
    font-family: "Roboto", Verdana, Geneva, Arial, sans-serif;
    font-size: small;
}

h1{
    font-family: "Roboto", sans-serif;
    font-size: 150%;
    color: darkblue;
}

h2, h3{
    font-family: "Roboto", sans-serif;
    font-size: 120%;
    color: darkblue;
}

h3.pageindex{
    border-top: 1px solid rgb(0, 0, 0);
}

b{
    color:darkred;
}

#allcontent {
    width: 1000px;
    padding: 20px;
    background-color: #e6f6ff;
    margin-left: auto;
    margin-right: auto;
}

#banner {
    border-width: thin;
    border-style: solid;
    border-color:black;
}

#description {
    border-width: thin;
    border-style: solid;
    border-color:black;
    padding: 20px;
    margin-bottom: 5px;
}

#navigation {
    border-width: thin;
    border-style: solid;
    border-color:black;
    padding: 20px;
    margin-bottom: 5px;
}

#authorNotes {
    border-width: thin;
    border-style: solid;
    border-color:rgb(1, 0, 68);
    padding: 20px;
    margin-bottom: 5px;
    background-color: rgb(195, 236, 255);
}

#footer {
    font-size: 80%;
    text-align: center;
    line-height: normal;
    margin-top: 30px;
    border-width: thin;
    border-style: solid;
    border-color:black;
}

<!-- not for index -->

#claudia {
    background-color: rgb(227, 228, 255);

    border-color: rgb(23, 50, 222);
    border-width: thin;
    border-style: solid;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;

    background-image: url(images/claudia.png);

}

#desquicio {
    background-color: rgb(255, 240, 240);
 
    border-color: rgb(244, 18, 18);
    border-width: thin;
    border-style: solid;

    background-image: url(images/desquicio.png);
}

#madman {
    background-color: rgb(255, 241, 225);

    border-color: rgb(229, 125, 7);
    border-width: thin;
    border-style: solid;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;

    background-image: url(images/madman.png);
}

.mainthree {
    padding: 25px;
    padding-left: 130px;

    margin:50px;
    margin-top: 5px;
    margin-bottom: 5px;

    background-repeat: no-repeat;
    background-position: left center;
    background-position: 10px;
    background-size: 100px;
}

.pageindex {
    background-color: rgb(255, 255, 248);

    padding: 5px;

    border-color: black;
    border-width: thick;
    border-style: outset;

    border-radius: 15px;
    border-top-left-radius: 0px;

}

@media screen and (max-width: 700px) {
    .mainthree {
        padding: 25px;
        padding-top: 130px;
        background-position: top center;
    }
}

#header {
    width: 1000px;
}

#main3 {
    width: 1000px;
}

#cast {
    border-width: thin;
    border-style: solid;
    border-color:black;

    width: 1000px;

    padding: 10px;
    
    margin: 30px;
}

#cast h2 {
    color:brown;
}

#terra1 {
    background-color: rgb(187, 219, 250);
    padding: 10px;
}

#terraobscura {
    background-color: rgb(250, 202, 202);
    margin-top: 10px;
    padding: 10px;
}

#darksun {
    background-color: rgb(255, 215, 166);
    margin-top: 10px;
    padding: 10px;
}

#pageindex {
    border-width: thin;
    border-style: solid;
    border-color:black;

    width: 1000px;
    
    padding: 10px;
    
    margin: 30px;
}



a:link {
    color: #007e7e;
}

a:visited {
    color: #333;
}

a:hover {
    background: #f88396;
    color: #0d5353;
}

a:focus {
    color:blueviolet
}

a:active {
    color: rgb(211, 0, 0)
}