@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: "Roboto", sans-serif;
    font-size: small;
}

/* no longer in use font
body{
    font-family:Verdana, Geneva, Arial, sans-serif;
}
*/

h1{
    font-family: "Roboto", sans-serif;
    font-size: 150%;
    color: darkblue;
}


h3.pageindex{
    border-top: 1px solid rgb(0, 0, 0);
}

h2, h3{
    font-family: "Roboto", sans-serif;
    font-size: 120%;
    color: darkblue;
}

b{
    color:darkred;
}

